<div *ngIf="movieList; else loading">
  <ul *ngFor="let movie of movieList">
    <li>
      <a href="">
        <img src="{{ movie.imageSource }}"/>
        <span class="movie-title">{{movie.title}}</span>
        <p>Production date: {{movie.year}}</p>
        <p class="movie-description">{{movie.description}}</p>
        <p>Director: {{movie.director}}</p>
      </a>
    </li>
  </ul>
</div>

<ng-template #loading>
  <div *ngIf="dataAvailable; else notAvailable" class="loading">
    Loading...
  </div>
  <ng-template #notAvailable> Data not available.</ng-template>
</ng-template>
